.primary-theme {
  background-color: #E29276;
  border-color: #C6522A;

  h1, h2, h3, h4, h5, h6, p, small, a, li {
    color: #612814;
  }

  form {
    label {
      color: #612814;
    }

    input,
    textarea {
      background: #FBEEEA;
      border: 1px solid #612814;

      &::placeholder {
        color: #612814;
      }
    }
  }
}

.secondary-theme {
  background-color: #AF9F5D;
  border-color: #716638;

  h1, h2, h3, h4, h5, h6, p, small, a, li {
    color: #0A0905;
  }

  .btn {
    border-color: #716638;
    color: #0A0905;
  }

  form {
    label {
      color: #0A0905;
    }

    input,
    textarea {
      background: #E2DDC5;
      border: 1px solid #0A0905;

      &::placeholder {
        color: #0A0905;
      }
    }
  }
}

.primary-light-theme {
  background-color: #FFCACC;
  border-color: #FF999D;

  h1, h2, h3, h4, h5, h6, p, small, a, li {
    color: #9C4121;
  }

  .btn {
    border-color: #FF999D;
    color: #9C4121;
  }

  form {
    label { color: #9C4121; }

    input,
    textarea {
      background: #FFEBEB;
      border: 1px solid #9C4121;

      &::placeholder {
        color: #9C4121;
      }
    }
  }
}

.tertiary-theme {
  background-color: #89A37E;
  border-color: #586E4F;

  h1, h2, h3, h4, h5, h6, p, small, a, li {
    color: #283224;
  }

  .btn {
    border-color: #586E4F;
    color: #283224;
  }

  form {
    label {
      color: #283224;
    }

    input,
    textarea {
      background: #F9F6E2;
      border: 1px solid #283224;

      &::placeholder {
        color: #283224;
      }
    }
  }
}