@mixin reset-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 0;
  width: auto;
  margin: 0;
  padding: 0;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-align: left;
}

@mixin flex-space-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@mixin bp($screenWidth) {
  @if $screenWidth==mobile-only {
    @media (max-width: #{$screen-xs-min - 1}) {
      @content;
    }
  }

  @else if $screenWidth==small-only {
    @media (max-width: #{$screen-sm-min - 1}) {
      @content;
    }
  }

  @else if $screenWidth==tablet-only {
    @media (min-width: #{$screen-sm-min}) and (max-width: #{$screen-md-min - 1}) {
      @content;
    }
  }

  @else if $screenWidth==xs {
    @media (min-width: #{$screen-xs-min}) {
      @content;
    }
  }

  @else if $screenWidth==sm {
    @media (min-width: #{$screen-sm-min}) {
      @content;
    }
  }

  @else if $screenWidth==md {
    @media (min-width: #{$screen-md-min}) {
      @content;
    }
  }

  @else if $screenWidth==lg {
    @media (min-width: #{$screen-lg-min}) {
      @content;
    }
  }

  @else if $screenWidth==xl {
    @media (min-width: #{$screen-xl-min}) {
      @content;
    }
  }

  @else if $screenWidth==xxl {
    @media (min-width: #{$screen-xxl-min}) {
      @content;
    }
  }

  @else {
    @warn "Breakpoint mixin supports: mobile-only, small-only, tablet-only, xs, sm, md, lg, xl, xxl";
  }
}